// author maywzp by 2016-12-19

.m-modal--open {
  overflow: hidden;
}

.m-modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: $z-index-modal;

  &.fade .m-modal__dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -25%);
  }

  &.in .m-modal__dialog {
    transform: translate(0, 0);
  }
}

.m-modal--open .m-modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.m-modal__dialog {
  position: relative;
  width: auto;
  margin: $modal-dialog-margin;
}

.m-modal__cotent {
  position: relative;
  background-color: $modal-content-bg;
  background-clip: padding-box;
  border: $modal-content-border-width solid $modal-content-border-color;

  @include border-radius($border-radius-lg);

  @include box-shadow($modal-content-xs-box-shadow);
}
