// author maywzp by 2016-12-17

//设置阴影
@mixin box-shadow($shadow...) {
    @if $enable-shadows {
        box-shadow: $shadow;
    }
}

//设置过渡效果
@mixin transition($transition...) {
  @if $enable-transitions {
      transition: $transition;
  }
}

//清除浮动
@mixin clearfix() {
  &::after {
      content: '';
      display: table;
      clear: both;
  }
}

//设置不同主题的背景
@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color !important;
  }

  a#{$parent} {
    @include hover-focus {
      background-color: darken($color, 10%) !important;
    }
  }
}

//设置不同主体的字体颜色
@mixin text-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }

  a#{$parent} {
    @include hover-focus {
      color:darken($color, 10%) !important;
    }
  }
}
